* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 650px;
    width: 1365px;
    line-height: 1.8;
    box-sizing: border-box;
}

.navbar {
    height: 50px;
    border: 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    letter-spacing: 5px;
    text-align: center;
    /* background-color: #000000; */
}
.navbar-header{
    color:blueviolet;
}

#parent {
    height: 500px;
    border: 1px solid;
    /* background-image: url('/static/tcar.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    text-align: center;
}

#heading {
    color: darkblue;
    font-size: 22px;
    letter-spacing: 2px;
}

#input {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 14px;
    letter-spacing: 2px;
}

.label-control {
    display: block;
    text-align: start;
    margin-top: 10px;
    color:black
}

.input-control {
    height: 30px;
    width: 350px;
    margin: 0 auto;
    margin-top: 10px;
}

.submit-button {
    height: 50px;
    width: 300px;
    background-color: #18232E;
    color: white;
    font-size: 22px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 80px;
}

.footer-container {
    background-color: black;
    color: whitesmoke;
}
.footer-description{
    font-size:22px; 
    text-align: center;
    letter-spacing: 5px;
}