<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Car Price Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <h2><b>Old Car Price Prediction</b></h2>
            </div>
        </div>
    </nav>
    <!-- main container -->
    <div id="parent">
        <div id="heading">
            <h3>
                <b>This intelligent system can predict the price of an old car based on market rates</b>
            </h3>
        </div>
        <div id="output">
            <form action="{{ url_for('predict')}}" method="post">
                <h1><b>{{ prediction_price }}</b></h1>
            </form>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer-container">
        <p>&copy; 2023 Car Price Prediction App</p>
        <p class="footer-description">Sanket Deshmukh</p>
    </footer>
</body>

</html>